## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a technology which can be used to store data electronically.

SQL DB - Structured Query Language DB or relational DB is a data base technlogy langugage where we can store data in structured manner with the help of rows and columns

NoSQL - Not only SQL DB stores data outside the traditional structure as in SQL DB

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL - Data definition language is part of SQL which is used to describe the data and relationship in database.

## Create - It is used to create a db, table, view, synonym, function etc. in database.

create table test;

## DROP  - it is used to remove objects from Database

drop database db_test;

## ALTER, - Alter is used to change the database object

alter table add column2;

## TRUNCATE is used to delete the data from table without deleting the table

truncate table test;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML - Data manipulation language is also a part of SQL which i used to modify or delete the database objects and relationship

## Insert - It is used to add data into the table

insert into table test values(100,"Sambav")

## UPDATE - It is used to update the data in the database
update table test set id = 102 where name = "Sambav"

## DELETE - It is  used to delete a object from database
Delete table test

## Q4. What is DQL? Explain SELECT with an example.

DQL - Data Query Language is used to get data from database

## Select - Used to select data from DB

select * from test

## Q5. Explain Primary Key and Foreign Key.

Primary Key : Primary key is a column in Database table used to uniquely identify the data.

Foreign key : It is a column or combinations of columns used to link 2 tables in a foreign key table

In [5]:
## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


mydb = mysql.connector.connect(
  host="172.18.0.38:3306",
  user="abc",
  password="password"
)

## cursor() method is used to create a cursor in database which can be used to access data.

## execute() method is used to execute SQL commands in python.

ModuleNotFoundError: No module named 'mysql'

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN

2. WHERE

3. GROUP BY

4. HAVING

5. SELECT

6. ORDER BY

7. LIMIT/OFFSET